<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <h3>Create Pool</h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            Create a pool that donates to your favorite charity, project, or content creator. Or your mom,
            anyone really.
          </p>
          <p class="card-text">
            It's completely free (other than the Ethereum gas cost) and open to everyone.
          </p>
          <hr class="my-4">

          <div class="form-group">
            <label class="col-form-label" for="inputName">
              Beneficiary Name
            </label>
            <input [(ngModel)]="beneficiaryName" type="text" class="form-control" placeholder="Ethereum Foundation"
              id="inputName" aria-describedby="helpName">
            <small id="helpName" class="form-text">The name of the charity/person/project who would receive
              the donation.</small>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="inputAddress">
              Beneficiary's Ethereum Account
            </label>
            <input [(ngModel)]="beneficiaryEthereumAccount" type="text" class="form-control"
              placeholder="0xc0FcF8403e10B65f1D18f1B81b093004B1127275" id="inputAddress">
            <small id="helpAddress" class="form-text">The Ethereum account that will receive the donations.</small>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="inputSymbol">
              Token Symbol
            </label>
            <input [(ngModel)]="tokenSymbol" type="text" class="form-control" placeholder="pDAI-EF" id="inputSymbol">
            <small id="helpSymbol" class="form-text">Symbol of the ERC20 token used for redeeming deposits. Preferrably
              in the form "pDAI-xxx".</small>
          </div>

          <button type="button" class="btn btn-success justify-content-center" (click)="createPool()">
            Create Pool
          </button>
        </div>
      </div>
    </div>
  </div>
</div>