<div class="container">
  <div class="row justify-content-center mb-4 mt-4" routerLink="/" style="cursor: pointer;">
    <div class="col-auto">
      <img src="assets/img/dai.svg" />
    </div>
    <div class="col-auto">
      <h1 class="display-3">Pool DAI</h1>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h4>{{poolData?.name}} ({{poolData?.symbol}})</h4>
            </div>
            <div class="col-auto">
              <!-- Refresh -->
              <button type="button" class="btn btn-primary btn-sm" (click)="refresh()">
                <span *ngIf="!isLoading">
                  Refresh
                </span>
                <span *ngIf="isLoading">
                  Loading...
                </span>
              </button>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Beneficiary: <a target="_blank"
              href="https://etherscan.io/address/{{poolData?.beneficiary}}"
              class="card-link">{{poolData?.beneficiary}}</a></li>
          <li class="list-group-item">Creator: <a target="_blank"
              href="https://etherscan.io/address/{{poolData?.creator}}" class="card-link">{{poolData?.creator}}</a></li>
          <li class="list-group-item">Owner:
            <a target="_blank" href="https://etherscan.io/address/{{poolData?.owner}}" class="card-link"
              *ngIf="poolData?.owner !== '0x0000000000000000000000000000000000000000'">
              {{poolData?.owner}}
            </a>
            <span *ngIf="poolData?.owner === '0x0000000000000000000000000000000000000000'">
              Nobody
            </span>
          </li>
          <li class="list-group-item">Creation time: {{toDateTimeString(poolData?.creationTimestamp)}}</li>
          <li class="list-group-item">Smart contract: <a target="_blank"
              href="https://etherscan.io/address/{{getPoolID()}}" class="card-link">{{getPoolID()}}</a></li>
          <li class="list-group-item">Pool size: {{toBigNumber(poolData?.totalSupply).toFormat(18)}} DAI</li>
          <li class="list-group-item">
            <canvas id="totalSupplyHistoryChart"></canvas>
          </li>
          <li class="list-group-item">Total interest donated:
            {{toBigNumber(poolData?.totalInterestWithdrawn).toFormat(18)}} DAI</li>
          <li class="list-group-item">
            <canvas id="totalInterestWithdrawnHistoryChart"></canvas>
          </li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <h4>Deposit to pool</h4>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label" for="inputDepositAmount">
              Deposit amount
            </label>
            <input type="number" [(ngModel)]="depositAmount" class="form-control" placeholder="420.69" min="0"
              id="inputDepositAmount" aria-describedby="helpDepositAmount">
            <small id="helpDepositAmount" class="form-text">Denominated in the currency you choose below</small>
          </div>

          <div class="form-group">
            <span *ngIf="currencyBalance">
              You have: {{currencyBalance.toFormat(18)}} {{depositTokenSymbol}}
            </span>
            <button type="button" class="btn btn-info justify-content-center" (click)="displayCurrencyBalance()">
              Check currency balance
            </button>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="selectDepositToken">
              Deposit currency
            </label>
            <select class="custom-select" id="selectDepositToken" [(ngModel)]="depositTokenSymbol">
              <option *ngFor="let token of tokenData" value={{token.symbol}}>{{token.name}} ({{token.symbol}})
              </option>
            </select>
          </div>

          <button type="button" class="btn btn-success justify-content-center"
            (click)="deposit(depositAmount, depositTokenSymbol)">
            Deposit to pool
          </button>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h4>Withdraw from pool</h4>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label" for="inputWithdrawAmount">
              Withdraw amount
            </label>
            <input type="number" [(ngModel)]="withdrawAmount" class="form-control" placeholder="420.69" min="0"
              id="inputWithdrawAmount" aria-describedby="helpWithdrawAmount">
            <small id="helpWithdrawAmount" class="form-text">Denominated in pDAI</small>
          </div>

          <div class="form-group">
            <span *ngIf="pDAIBalance">
              You have: {{pDAIBalance.toFormat(18)}} pDAI
            </span>
            <button type="button" class="btn btn-info justify-content-center" (click)="displayPDAIBalance()">
              Check pDAI balance
            </button>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="selectWithdrawToken">
              Withdraw currency
            </label>
            <select class="custom-select" id="selectWithdrawToken" [(ngModel)]="withdrawTokenSymbol">
              <option *ngFor="let token of tokenData" value={{token.symbol}}>{{token.name}} ({{token.symbol}})
              </option>
            </select>
          </div>

          <button type="button" class="btn btn-success justify-content-center"
            (click)="withdraw(withdrawAmount, withdrawTokenSymbol)">
            Withdraw from pool
          </button>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h4>Withdraw interest to beneficiary</h4>
        </div>

        <div class="card-body">
          <div class="form-group">
            <span *ngIf="interestAccrued">
              Interest accrued: {{interestAccrued.toFormat(18)}} DAI
            </span>
            <button type="button" class="btn btn-info justify-content-center" (click)="displayInterestAccrued()">
              Check interest accrued
            </button>
          </div>

          <button type="button" class="btn btn-success justify-content-center" (click)="withdrawInterest()">
            Withdraw interest to beneficiary
          </button>
        </div>
      </div>
    </div>
  </div>
</div>